.searchNav{
    background-color: transparent;
    color: white;
    padding: 0.5rem;
}

.searchForm{
    display: flex;
}

.searchForm>input{
    height: 30px;
    padding: 0.25rem;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    margin: 0 0 0.5rem 0;
}

.searchForm>input:focus{
    outline: 2px solid #1CB5E0;
}

.searchForm> button{
    background-color: var(--button-color);
    height: 30px;
    width: max-content;
    padding: 0.25rem 1.5rem;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0 0 0.5rem;
}

.searchForm> button:hover{
    background-color: var(--button-hover-color);
    color: white;
}

.searchForm> button:active, .searchForm> button:focus{
    outline: 2px solid black;
}