.main{
    width: 80vw;
    padding: 0.5rem 2rem 4rem 2rem;
}

.temperatureContainer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.degreesContainer{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    padding: 1rem 2rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bigNumbers{
    font-size: 3rem;
    font-weight: 700;
}

.cityName{
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin: 0 0 1rem 0;
    padding: 0 0 0.25rem 0;
}

.errorPageNotFound{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage{
    font-size: 2rem;
    font-weight: 100;
    background-color: var(--button-color);
    padding: 1rem 3rem;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    cursor: not-allowed;
}

.img{
    height: 180px;
    margin: 0 auto;
}

.icon{
    width: 12px;
    margin: 0 0.25rem 0 0;
    vertical-align: middle;
}

.clouds, .wind, .pressure, .feelsLike, .humidity{
    margin: 0 0 0.25rem 0;
}